/* Carousel container styling */
*{
	box-sizing:border-box;
}
body{
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
}

.container{
    width:100%;
    padding: 10px;
}

#events {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.slide-title{
    font-size: 24px;
    background-color: #fecc00;
    color: #800000;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #events {
        max-width: 100%;
        padding: 10px;
    }
    
    .carousel-item img {
        height: 300px;
    }
}
